---
import BaseLayout from "../layouts/BaseLayout.astro";
import WorldMap from "../components/WorldMap.astro";
import PastCountries from "../components/PastCountries.astro";
---

<BaseLayout>
	<div class="absolute flex items-center w-full whitespace-nowrap justify-end space-x-reverse space-x-1 text-sm top-0 left-0 h-6">
		<PastCountries />
	</div>
	<div class="flex items-center w-full h-full">
		<WorldMap />
	</div>
</BaseLayout>

