<div class="w-40 md:w-80 bg-background-accent text-primary text-center border border-x-8 border-b-8 border-mypink rounded-b-3xl">
  <div>
    Next Country in
  </div>
  <div class="text-mypink font-bold text-center p-2 px-3 flex justify-between space-x-2">
    <div class="flex flex-col items-center">
      <span class="text-4xl">05</span>
      <span class="text-sm">days</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-4xl">13</span>
      <span class="text-sm">hours</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-4xl">39</span>
      <span class="text-sm">minutes</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-4xl">04</span>
      <span class="text-sm">seconds</span>
    </div>
  </div>
</div>