<a href="https://x.com/ja_dorn" target="_blank"><img class="w-4 h-4" src="../../x-logo.svg" alt="x link"></a>
<a href="https://github.com/jandorn/storyoftheworld" target="_blank"><img class="w-4 h-4" src="../../github-logo.svg" alt="github link"></a>